*{margin:0;padding:0;box-sizing:border-box;}

:root {
    --color0: #ffffff;
    --color1: #e7e7F1;
    --color2: #31b6bf;
    --color3: #1ab8d4;
}

body {
    background-color: var(--color1);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    text-align: center;
}

header h1 {
    font: 600 64px serif;
    margin-top: 25px;
    text-align: center;
}

header p {
    font: 16px sans-serif;
    color: #a5a5a5;
}

header a {
    text-decoration: none;
    color: #252525;
    display: inline-block;
    position: relative;
}

header a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--color3);
    transform: scaleX(0);
    transition: transform .25s;

}

header a:hover::before {
    transform: scaleX(1);
}

main #people-container-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#prev-and-next-nuttons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
}

#prev-and-next-nuttons-container button {
    width: 250px;
    padding: 15px;
    background-color: var(--color3);
    color: white;
    border: none;
    cursor: pointer;
}

#prev-and-next-nuttons-container button:active {
    animation: bounce .25s 1;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 1px 1px 33px rgba(0, 0, 0, 0.295);
    }

     100% {
         transform: scale(1);
     }
}

.person-profile {
    width: 400px;
    height: 600px;
    background-color: var(--color0);
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.068);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.person-profile:hover {
    transform: translateY(-15px);
}

.person-lore {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.person-image {
    border-radius: 50%;
}

.person-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}

.person-email {
    font-weight: lighter;
    color: #797979;
}

.more-details {
    width: 200px;
    height: 60px;
    color: white;
    border: none;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, .250);
    background-color: var(--color3);
    transition: background-color 1s, width 1s, border-radius 1s;
    cursor: pointer;
}

.buttons {
    position: relative;
}

.icon {
    position: absolute;
    right: 34%;
    bottom: 28%;
    color: white;
    opacity: 0;
}

.more-details i {
    transition: opacity .5s;
}

.more-details:focus {
    background-color: #2fb42f;
    width: calc(250px / 4);
    border-radius: 50%;
}

.more-details:focus .text {
    opacity: 0;
}

.more-details:focus .icon {
    opacity: 1;
    transition-delay: .50s;
}